.login {
    width: 100%;
    height: 100vh;
    /* background: url('../../Assets/imgs/profile.jpg'); */
    background-size: cover;
    background-position: center;
    /* position: relative; */
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}

.login__section {
    width: 100%;
    /* left: 10%; */
    height: 100vh;
}
.login__container {
    width: 65%;
    max-width: 60%;
    height: auto;
    color: black;
    text-align: center;
    /* background-color: var(--primary-color); */
    /* position: absolute; */
    /* top: 5%; */
    /* left: 15%; */
    margin: 10% auto;
    border-radius: 7px;

}
.login__badge{
    width: 100%;
    height: 100%;
    background: url('../../Assets/imgs/profile.jpg');
    background-size: cover;
    background-position: center;
    /* position: relative; */
}
.t-right{
    float: right;
}
.t-center{
    text-align: center;
}
form {
    margin-top: 60px;;
}
.form-control {
    height: 40px;
    width: 100%;
    padding: 5px 7px;
    margin-bottom: 10px;
    margin-top: 7px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary-color);
    background-color: transparent;
    font-family: var(--primary-font);
    /* color: #fff; */
    
}
.display__block {
    display: block;
}
.display__none {
    display: none;
}
.sub-title{
    font-family: var(--primary-font);
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    color: #888888;
}

.logo{
    width: 250px!important;
    height: 100px!important;
}
.login-btn{
    width: 100%;
    padding: 15px;
    margin-top: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;


}
.f-11 {
    font-size: 11px;
}
.register__container {
    width: 65%;
    max-width: 60%;
    height: auto;
    color: black;
    text-align: center;
    margin: auto;
    border-radius: 7px;
}

.mtb-10 {
    margin: 10px 0;
}
label{
    height: 20px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-white);
    font-family: var(--primary-font);
}

.floating__label {
    color: #a2a2a2!important;
}
.css-1nrlq1o-MuiFormControl-root {
    text-align: left;
}
.label-name-select {
    position: absolute;
    height: 20px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    bottom: 0;
    color: #a2a2a2!important;
}

.logo__section{
    margin-bottom: 40px;
    text-align: center;
    color: var(--primary-color)!important;
}

.copyright{
    position: absolute;
    bottom: 7%;
    left: 20%;
    color: #fff;
}